@CHARSET "ISO-8859-1";

#adminlogin {
 position:absolute;
 top:0;
 right:0;
 width:200px;
}
#userlogin {
 position:absolute;
  top:0;
 right:0;
 width:200px;
}
 #comments {
position:absolute;
  top:270;
 right:0;
 width:800px;
} 

#userInput{
	 position:absolute;
  top:0;
 right:30;
 width:200px;
}

#contactusform{
	 position:absolute;
  top:0;
 right:30;
 width:200px;
}
