<html>
	<head>
		<title>Hello BR User</title>
	</head>
	<body>
		<h3>Hello, <span th:text="${facebookProfile.name}">Some User</span>!</h3>
		
		<h4>Here is your feed:</h4>
		<p>
			You are now connected to BR with Facebook login.
			Click <a href="/index.html">here</a> to Continue.
		</p>
		
		<!--<div th:each="post:${feed}">
			<b th:text="${post.from.name}">from</b> wrote:
			<p th:text="${post.message}">message text</p>
			<img th:if="${post.picture}" th:src="${post.picture}"/>
			<hr/>
		</div>-->
	</body>
</html>